---
import Layout from "../layouts/Layout.astro";
const title = "About page";
const description =
  "About – Learn more about our mission, values, and the team behind our work.";
---

<Layout title={title} description={description}>
  <h1>about page</h1>
</Layout>
