---
import Layout from "../layouts/Layout.astro";
const title = "Home page";
const description =
  "Home – Welcome to our website. Discover who we are, what we do, and how we can help you.";
---

<Layout title={title} description={description}>
  <h1>home page</h1>
</Layout>
